<div class="container">
  <div class="show">
    <p>詳細</p>
    <br>
    <div class="blog_title">
      <p>【タイトル】</p>
      <div class="title">
        <%= @blog.title %>
      </div>
    </div>
    <div class="blog_content">
      <p>【内　容】</p>
      <div class="content">
        <%= @blog.content %>
      </div>
    </div>
    <div class="blog_image">
      <p>【画　像】</p>
      <div class="image">
        <%= image_tag @blog.image %>
      </div>
    </div>
    <br>
    <% unless @blog.user_id == current_user.id %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>
