<div class="_form">
  <%= form_with(model: @user, local: true, url: users_path) do |form| %>
    <% if @user.errors.any? %>
      <div id = "error_explanation">
        <h2><%= @user.errors.count %>件のエラーがあります</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="main_form">
      <div class = "user_name">
        <p>【名前】</p>
        <%= form.text_field :name %>
      </div>
      <div class = "user_email">
        <p>【メールアドレス】</p>
        <%= form.text_field :email %>
      </div>
      <div class = "user_password">
        <p>【パスワード】</p>
        <%= form.password_field :password %>
      </div>
      <div class = "user_password_confirmation">
        <p>【確認用パスワード】</p>
        <%= form.password_field :password_confirmation %>
      </div>
      <%= form.submit value = "登録" %>
    </div>
  <% end %>
</div>
